img {
    max-width: 100%;
    height: auto;
    display: block;
}


.featured-photo {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(105, 105, 105);
    flex-direction: row;
}

.nav_bar {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(105, 105, 105);
    flex-direction: row;
}

.logo_nav_bar img {
    height: 100px; 
    width: auto;
}


.logo_nav_bar {
    display: flex;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(105, 105, 105);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.previousProjects-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(105, 105, 105);
    flex-direction: row;
}

.skills-auto-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(105, 105, 105);
    flex-direction: row;
}







.featured-item {
    display: flex;
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(26, 22, 22);
    justify-content: center;
    align-items: center; 
}

.project-item{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(26, 22, 22);
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
}


.skills-auto-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(26, 22, 22);
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nav-item {
    display: flex;
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(26, 22, 22);
    justify-content: center;
    align-items: center; 
}



.project-pictures{
    margin: auto;
}