img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
}


.featured-photo {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(105, 105, 105);
    flex-direction: row;
}


.logo_nav_bar img {
    height: 100px; 
    width: auto;
}


.logo_nav_bar {
    display: flex;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(105, 105, 105);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.previousProjects-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
}

.skills-auto-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
}


.featured-item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center; 
    margin-bottom: 40px;
}

.project-item{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;

    border: 1px solid #ccc;
    background-color: white;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.skills-auto-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(26, 22, 22);
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nav-item {
    display: flex;
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(26, 22, 22);
    justify-content: center;
    align-items: center; 
}


.project-pictures{
    margin: auto;
}


.skills-list{
    list-style-type: none;
    padding: 0;
    width: 80%;
    text-align: left;
}

.skills-list li {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.skills-list strong {
    display: block;
    font-size: 1.1rem;
    color: #0056b3;
    margin-bottom: 2px;
}

.skill-desc {
    font-size: 0.9rem;
    color: #555;
}
