.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: pink;
    flex-direction: row;
}

.nav_bar {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 200);
    flex-direction: row;
}

.logo_nav_bar {
    display: flex;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(75, 0, 130);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}
.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: green;
    justify-content: center;
    align-items: center;
}

.logo-item{
    border-style: solid;
    border-width: 4px;
    border-color: blue;
    margin: auto;
}

body {
    background-color: rgb (105, 105, 105);
}
